/* BUTTON STYLES */
.btn {
  display: inline-block;
  width: 200px;
  padding: 15px 25px;
  font-size: 30px;
  background-color: #e3e3e3;
  box-shadow: none;
  border: none;
  transition: all 0.3s ease-in-out;
  text-align: center;
  margin: 0;
}

.btn:hover {
	background-color: #d1d1d1;
	cursor: pointer;
}

.btn:focus {
	outline: none;
}

.btn-green {
  background-color: green;
  color: #eee;
}

.btn-green:hover {
  background-color: #009a00;
}

.btn-blue {
  background-color: #5bc0de;
  color: #eee;
}

.btn-blue:hover {
  background-color: #31b0d5;
}

.btn-red {
  background-color: #d9534f;
  color: #eee;
}

.btn-red:hover {
  background-color: #c9302c;
}

.button-group {
  display: flex;
}

.button-group .btn {
  margin: 2px;
}

.btn-submit {
	align-self: left;
	margin-left: 4.2%;
	margin-top: 10px;
}

.btn.btn-delete {
  display: block;
  margin-left: 20px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  padding: 0;
  line-height: 20px;
  color: #d9534f;
  background-color: transparent;
  border: 2px solid #d9534f;
}

.btn.btn-delete:hover {
  background-color: #d9534f;
  color: white;
}


.login-buttons {
  margin-left: 5%;
  margin-top: 30px;
}

.login-buttons .btn {
  margin-right: 20px;
  padding: 10px 15px;
}

.form-control {
  display: block;
  border: none;
  font-size: 24px;
  padding: 10px;
  margin: 10px 0 30px 0;
  box-shadow: none;
  transition: all 0.3s ease-in-out;
  width: 90%;
}

.form-control:focus {
  outline: none;
  padding: 20px;
  width: 95%;
}

.static-button {
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 25px;
  border-radius: 5px;
  width: 100px;
  font-size: 20px;
  color: white;
}